
<div [ngClass]="{
    'list-group-item' : true
}" class="col-xs-12 col-sm-4  col-md-3 col-lg-2 " style="background-color: whitesmoke;
 margin-top: 1em; margin-bottom: 2em ; min-height: 550px;"
 >
 <a [routerLink]="[id]">
<h3>{{postTitle | titlecase |slice:0:10}}</h3>
<h5>{{postCreaatedAt | date : 'longDate'}}</h5>
<img src={{miniature}} class="img-responsive img-rounded" style="margin-bottom: 5px;">
<p>{{postContent |slice:0:50}} ...</p>
</a>
<button class="btn btn-primary"
(click)="like()"
><span *ngIf="isLike" class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
<span *ngIf="!isLike" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
 ({{postLoversIts}})
</button> &nbsp;&nbsp;

</div>



